

<nav class="navbar navbar-expand-lg navbar-dark bg-dark navigation ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">NGZOO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" 
          [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <i class="bi bi-house-door-fill"></i>
          Inicio</a>
          
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page"  [routerLink]="['/animales']" routerLinkActive="active">
            <i class="bi bi-tencent-qq"></i>
            Animales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" [routerLink]="['/cuidadores']" routerLinkActive="active">
            <i class="bi bi-person-arms-up"></i>
            Cuidadores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page"  [routerLink]="['/tienda']" routerLinkActive="active"> 
            <i class="bi bi-shop"></i>
            Tienda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" [routerLink]="['/contacto']" routerLinkActive="active">
            <i class="bi bi-telephone-outbound-fill"></i>
            Contacto</a>
        </li>
        <!-- <li class="hidden">
          <span *ngIf="emailContacto"><strong>Email de Contacto:</strong>{{emailContacto}}
            <button (click)="borrarEmail()">Eliminar email de contacto</button>
          </span>
        </li> -->
      </ul>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" [routerLink]="['/registro']" routerLinkActive="active">
            <i class="bi bi-person-circle"></i>
            Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" [routerLink]="['/login']" routerLinkActive="active">
            <i class="bi bi-box-arrow-in-right"></i>
            Login</a>
        </li>
      </ul>
      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>



<!-- toma el componente que esta asociado a esta ruta y nos los carga dinamicante-->

<div class="col-lg-11">
  <router-outlet></router-outlet> 

</div>
